<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.a7s21_tsdmh_proyectofinal_qacj">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme._7s21_TSDMH_ProyectoFinal_QACJ"
        tools:targetApi="31">

        <!-- Aquí no es necesario declarar DatosDTO ya que no es una actividad -->
        <activity
            android:name=".RegistraActivity"
            android:exported="false" />
        <activity
            android:name=".ActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".PrincipalActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
